#footerWrapper {
    width: 100%;
    background: url("/src/assets/bg_footer.gif") left center repeat;
    padding: 45px 0;
    clear: both;
    margin-bottom: -200px;
    min-width: 960px;
}
#footerWrapper #footerCopyrightArea {
    width: 960px;
    margin: 0 auto;
}

p {
    margin: 0;
    text-align: center;
}