p#kanjiOyaji {
    font-size: 1109%;
    float: left;
    line-height: 1em;
    letter-spacing: 0;
    width: 220px;
    text-align: center;
    margin-top: 10px;
}
p.Chiyaji {
    font-size: 100%;
    float: left;
    line-height: 1em;
    letter-spacing: 0;
    width: 220px;
    text-align: center;
    margin-top: 10px;
}
.txtColorRed, .txtColorRed a {
    color: #e4007f;
}

ul#onkunList {
    margin-top: 0;
    list-style-type: none;
    margin-top: 2rem;
    margin-right: 25em;
} 
li#yomulist {
    width: 220px;
}

p#imi {
    margin-top: 10px;
    width: 220px;
}

p.onkunYomi {
    width: 85%;
    margin-top: 0;
}